.background {
  color: #FDF6E3;
}
.num {
  color: #6C71C4;
}
.str {
  color: #DC322F;
}
.com {
  color: #93A1A1;
}
.opt {
  color: #586E75;
}
.std {
  color: #586E75;
}
.kwa {
  color: #D33682;
}
.kwb {
  color: #586E75;
}
.kwc {
  color: #586E75;
}
.kwd {
  color: #859900;
}
